/* LAYOUT */
.layout {
    display: flex;
    gap: 30px;
    z-index: 1;
}

/* MUSIC CONTAINER */
.music-container {
    width: 240px;
    background: #0a0a0a;
    padding: 25px;
    border-radius: 14px;
    box-shadow: 0 0 20px #00ffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* MUSIC CIRCLE */
.music-circle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 0 25px #00ff88;
    margin-bottom: 20px;
}
.music-circle i {
    color: #00ff88;
    font-size: 26px;
}

/* LYRICS */
.lyrics-box {
    position: relative;
    width: 100%;
    height: 80px;
    overflow: hidden;
    border-left: 2px solid #fff;
    padding-left: 10px;
}

.read-line {
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    z-index: 2;
}

.lyric-line {
    color: #00ffff;
    font-size: 13px;
    margin: 6px 0;
    animation: lyricUp 3s linear forwards;
}

@keyframes lyricUp {
    from { transform: translateY(50px); opacity: 1 }
    to { transform: translateY(-70px); opacity: 0 }
}

/* RESPONSIVE */
@media (max-width: 900px) {
    .layout {
        flex-direction: column;
        align-items: center;
    }
}
