* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    min-height: 100vh;
    background: radial-gradient(circle, #002a18, #000);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* CONTAINER */
.container {
    width: 360px;
    background: #0a0a0a;
    padding: 40px;
    border-radius: 14px;
    box-shadow: 0 0 30px #00ff88;
}

/* FORM SWITCH */
.box {
    display: none;
}

.box.active {
    display: block;
    animation: fade 0.6s ease;
}

@keyframes fade {
    from { opacity: 0; transform: scale(0.95); }
    to   { opacity: 1; transform: scale(1); }
}

/* TITLE */
h2 {
    text-align: center;
    color: #00ff88;
    margin-bottom: 30px;
    letter-spacing: 3px;
}

/* INPUT */
.input-group {
    position: relative;
    margin-bottom: 32px;
}

.input-group input {
    width: 100%;
    padding: 10px 38px 10px 10px; /* space for eye icon */
    background: transparent;
    border: 1px solid #00ff88;
    border-radius: 6px;
    color: #00ff88;
    outline: none;
}

/* FLOATING LABEL */
.input-group label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #0
